@charset "UTF-8";

/*Versão impressora */

main{
    width: 90vw;
    border: 2px solid black;
}

main h1{
    color: black;
    text-shadow: none;
}

img#phone{ display: none;}
img#tablet{display: none;}
img#print{display: block;}
img#pc{display: none;}
img#tv{display: none;}